{% import "my_post_macros.html" as my_post_macros %}
{% extends "zola-pickles/templates/index.html" %}

{% block content %}
    <h1>{{ term.name }}</h1>

  <ul>
    {% for page in term.pages %}
    <li class="c-article p-my-list-article">
        {{ my_post_macros::title(page=page) }}
    </li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block footer -%}
    <p class="tags">
        <span><a href=/tags>tags</a></span>
    </p>
{%- endblock footer %}

{% block extra_head -%}
    <link rel="stylesheet" href="{{ get_url(path="index.css") }}" />
{%- endblock extra_head %}
