{% import "my_post_macros.html" as my_post_macros %}
{% extends "zola-pickles/templates/index.html" %}
{% block content %}
  <ul>
    {% for page in paginator.pages %}
    <li class="c-article p-my-list-article">
        {{ my_post_macros::title(page=page) }}
    </li>
    {% endfor %}
  </ul>

  <nav class="c-pagination p-pagination">
      <div class="c-pagination__ctrl">
          <div class="c-pagination__newer">
              {% if paginator.previous -%}
              <a href="{{ paginator.previous }}">Newer</a>
              {%- endif %}
          </div>
          <div class="c-pagination__older">
              {% if paginator.next -%}
              <a href="{{ paginator.next }}">Older</a>
              {%- endif %}
          </div>
      </div>
      <span class="c-pagination__count p-pagination__count">Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
  </nav>
{% endblock %}

{% block footer -%}
    <p class="tags">
        <span><a href=/tags>tags</a></span>
    </p>
    <p class="tags">
        <span><a href=/web-privacy>WebPrivacy commit log</a></span>
    </p>
<p class="p-copyright">
    {% if config.extra.copyright -%}
    {% set content = config.extra.copyright | markdown(inline=true) %}
    {{ post_macros::polish(content=content) }}
    {%- endif %}
</p>
{%- endblock footer %}

{% block extra_head -%}
    <link rel="stylesheet" href="{{ get_url(path="index.css") }}" />
{%- endblock extra_head %}
